HOST=0.0.0.0
PORT=1337
APP_KEYS=TxdPdHj5mEH8i2uTVifZHQ==,So0j/bdyVo7zWWcFPl4hQg==,JTARdcJoutGTs7nxpreMYA==,tdYRy5HUmV69h8DO45ukQw==
API_TOKEN_SALT=aQ8z/kIu/4pIl6QIe5gJZA==
ADMIN_JWT_SECRET=WwhUeTsHoevqhB1FeDOCXg==
TRANSFER_TOKEN_SALT=TQWFOTuZRq/nDdCLsRbIpQ==
# Database
DATABASE_CLIENT=mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=strapi-basic-web-sarp
DATABASE_USERNAME=root
DATABASE_PASSWORD=123imvu123
DATABASE_SSL=false
JWT_SECRET=3b2e2b2e2b2e2b2e2b2e2b2e2b2e2b2e
NODE_ENV=development

STRAPI_DEBUG=true

STRAPI_ADMIN_APP_HOST=http://localhost:1337/
STRAPI_ADMIN_JWT=badb2a0eb178dd1ee72cc9e2b7efecd90e56429b2bba87833871fa3fad7a7c965c761fd40962e41f74fa9686de9aa97c8b0a3067626376146dc22d714141883d7b55cea957659574b1cdf2168599d8f2d8136d703e19043cd70e5e0fe1b5bf0934be05767b7c172cb5a9d023110d16de789107388687d357de2727ba0f3e7987


#nextjs
NEXTJS_REVALIDATE_TAG_TOKEN=13523ADSgfdfgA1427@
NEXTJS_REVALIDATE_TAG_PATH=http://127.0.0.1:3000/api/revalidate

#email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_REPLYTO=
